@charset "utf-8";

$breakpoints: (
  "sm": "screen and (min-width: 400px)",
  "md": "screen and (min-width: 800px)",
  "lg": "screen and (min-width: 1000px)",
  "xl": "screen and (min-width: 1200px)",
  ) !default;

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin inner($w: (800/900)*100%, $mw: 1200px) {
  width: $w;
  max-width: $mw;
  margin-left: auto;
  margin-right: auto;
}

@mixin flex($a: center, $j: space-between) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $j;
  align-items: $a;
}
